<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>register</h1>
  <form action="/register" method="post">
  <input type="text" placeholder="Name" name="name" id="">
  <input type="text" placeholder="UserName" name="username" id="">
  <input type="password" placeholder="Password" name="password" id="">
  <input type="submit">
  </form>
  <hr>
  <h1>login</h1>
  <form action="/login" method="post">
    <input type="text" placeholder="UserName" name="username" id="">
    <input type="password" placeholder="Password" name="password" id="">
    <input type="submit" value="login">
  </form>
</body>
</html>