<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    profile:
    <a href="/logout">logout</a>
    <br />
    <hr/>
    <h1>Fibonacci series Given Two inputs 10 series display</h1>
    <div>
        const num =100;
    let x=0;
    let y=1;
    let fn=x+y;
    console.log(x);
    while (fn<num){
        console.log(fn)
        fn=x+y;
        x=y;
        y=fn;
    };
    </div>
</body>
</html>